//definir fuente
@font-face {
  font-family: 'Outfit';
  src: url('../fonts/Outfit-Regular.ttf') format('truetype');
    
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Outfit';
  src: url('../fonts/Outfit-Bold.ttf') format('truetype');
       
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
// variables.scss
$primary-color: #e2001a;
$secondary-color: #001c3a;
$white-color: #fff;
$text-color: #333;
$font-primary: 'Outfit', sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
     font-family: $font-primary; 
      overflow-x: hidden; // Elimina scroll horizontal
  margin: 0;
}
//seccion de header
header {
    .top-bar {
        color: $white-color;
        background-color: $primary-color;
        text-align: center;
        padding: 10px;
        a {
            font-family: inherit;
            color: white;
            text-decoration: none;
            font-size: 16px;
            border-bottom: 1px solid white; 
        }
    }
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        background-color: $white-color;

        .logo {
            img {
                width: auto;
                height: 50px;
            }
        }

        .nav-links {
            list-style: none;
            display: flex;
            gap: 20px;
            li {
                a {
                    font-family: $font-primary; 
                    text-decoration: none;
                    color: #333;
                    font-size: 16px;
                    color: $primary-color;
                    font-weight: bold;
                }
            }
        }

       .nav-icons {
            display: flex;
            gap: 10px;
            .icon-button {
                background: none;
                border: none;
                cursor: pointer;
               
                   img {width: auto;
                height: 14px;
                    filter: brightness(0) saturate(100%) invert(19%) sepia(98%) saturate(7471%) hue-rotate(358deg) brightness(98%) contrast(119%);
                }
            
            
            }
        }
    }
    
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        .nav-links {
            flex-direction: column;
            text-align: center;
            padding: 10px 0;
        }
        .nav-icons {
            margin-top: 10px;
        }
    }
}

//seccion carrusel
.carousel {
  position: relative;

  .swiper-container {
    width: 100%;
    height: 90vh;

    @media (max-width: 768px) {
      height: 70vh; // Altura menor en móviles
    }
  }

  .swiper-slide {
    position: relative;

    // Degradado vertical solo en el lado izquierdo
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 40%; // Cubre solo el 40% del ancho
      height: 100%;
      background: linear-gradient(
        to right,
        $primary-color 24%,    // Rojo intenso
        rgba(174, 32, 32, 0.4) 70%,   // Transparencia progresiva
        rgba(174, 32, 32, 0) 100%     // Desvanecimiento total
      );
      z-index: 1;

      @media (max-width: 768px) {
        width: 70%; // Más ancho en móviles
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  // Contenedor del texto
    .slide-content {
    position: absolute;
    left: 4%;
    bottom: 05%; // Posición inferior
    z-index: 2;
    color: white;
    max-width: 600px;

    // Animaciones
 
      h2 {
        padding: 0px;
        margin: 0px;
      font-size: 6rem; // Tamaño aumentado
      margin-bottom: 2rem;
      line-height: 1;
      opacity: 0;
      transform: translateX(-30px);
      transition: all 0.8s ease;

      @media (max-width: 768px) {
        font-size: 3.5rem;
      }
    }

    p {
      font-size: 1.5rem;
      opacity: 0;
      transform: translateX(-30px);
      transition: all 0.8s ease 0.3s;

      @media (max-width: 768px) {
        font-size: 1.2rem;
      }
    }
  }

  .swiper-slide-active .slide-content {
    h2, p {
         font-family: $font-primary;
      opacity: 1;
      transform: translateX(0);
    }
  }
   // Estilos para la paginación
  .swiper-pagination {
    bottom: 40px !important;

    &-bullet {
      width: 12px;
      height: 12px;
      background: transparent;
      border: 2px solid white;
      opacity: 1;
      transition: all 0.3s ease;

      &-active {
        background: white;
        border-color: white;
        transform: scale(1.2);
      }
    }
  }
}




//part three section
.section-columns {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 190vh; // Ocupa toda la altura de la pantalla

  .container {
    width: 90%; 
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 120px; // Espacio entre columnas

    .column {
      position: relative;
      display: flex;
      flex-direction: column; // Permite que el texto se ubique debajo de la imagen
      justify-content: center;
      align-items: center;
      overflow: hidden;
      height: auto; // Altura adaptable según el contenido

      .image-wrapper {
        position: relative;
        width: 100%;
        height: 400px; // Tamaño uniforme para todas las imágenes
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 100%;
          height: 90%;
          object-fit: cover; // Asegura que las imágenes se ajusten sin deformarse
        }

        // Capa de color rojo semitransparente
        &::after {
          content: "";
          position: absolute;
          top: 5%;
          left: 0;
          width: 100%;
          height: 90%;
          background: rgba(255, 0, 0, 0.4); // Color rojo con transparencia
          z-index: 1; // Mantiene la capa roja debajo del número
        }

        // Icono SVG centrado sobre la imagen
        .icon-overlay {
          position: absolute;
          width: 42%; // Tamaño relativo a la imagen
          height: auto;
          filter: invert(1); // Convierte el icono SVG a color blanco
          z-index: 2; // Se asegura de estar sobre la capa roja
        }

        // Números en la esquina inferior izquierda, con parte fuera de la imagen
        .number-tag {
          position: absolute;
          bottom: -15px; // Mueve la mitad fuera de la imagen
          left: -4px;
          width: 60px;
          height: 60px;
          background-color: white; // Círculo blanco
          color: $primary-color; // Número rojo
          font-size: 30px;
          font-weight: bold;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%; // Hace que el div sea un círculo
         // box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); // Sombra ligera
          z-index: 3; // Se asegura de estar sobre la capa roja
        }
      }

      // Texto debajo de la imagen
      // Texto debajo de la imagen
      .image-text {
  margin-top: 20px;
  width: 100%; // Ocupa todo el ancho de la columna
  text-align: left; 

  h2 {
    font-size: 34px; // Tamaño grande para el título
    font-weight: bold;
    color: $secondary-color;
    margin-bottom: 10px;
  }

  p {
    font-size: 18px; // Tamaño grande para el párrafo
    color: $secondary-color;
    line-height: 1.5;
  }
}

    }
  }

  // Responsive para móviles (1 columna)
  @media (max-width: 768px) {
    height: auto; // Altura automática en móviles
    .container {
      grid-template-columns: 1fr; // Una sola columna
    }
  }
}

//SECCION 4
.contenedor {
    display: flex;
    flex-direction: column;
    height: 100vh;
    
    
    .fila {
        
        &.blanca, &.degradado {
            flex: 1;
        }
        
        &.azul {
            flex: 2.4;
            background-color: $secondary-color;
            position: relative;
            overflow: visible;
            
            
            .texto-centrado {
                top: 50%;
                position: relative;
                z-index: 2;
                color: $white-color;
                text-transform: uppercase;
                font-size: 3vw;
                text-align: center;
                 font-family: $font-primary; 
                letter-spacing: 3px;
                margin: 0 auto;
                padding: 20px;
                max-width: 80%;
            }
            
            .imagen-destacada {
                position: absolute;
                top: -30%;
                bottom: -15%;
                left: 50%;
                transform: translateX(-50%);
                height: 160%;
                width: auto;
                max-width: none;
                z-index: 1;
                object-fit: cover;
            }
        }
        
        &.degradado {
            background: linear-gradient(to bottom, $white-color 0%, $primary-color 100%);
        }
    }
} 



//seccion 5
 .clientes-section {
    
  background: $primary-color;
  padding: 8rem 2rem;
  position: relative;
  overflow: hidden;
  height: 900px;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    background: linear-gradient(45deg, $primary-color, $primary-color);
    z-index: 1;
  }
}

.clientes-titulo {
    font-family: $font-primary; 
  color: white;
  text-align: center;
  font-size: 22px;
  margin-bottom: 6rem;
  position: relative;
  z-index: 2;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 0 4px 10px rgba(0,0,0,0.2);
}



.clientes-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2rem;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 2;

  @media (max-width: 768px) {
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }

  @media (max-width: 480px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.cliente-item {
  position: relative;
  padding-bottom: 100%; // Mantener relación cuadrada

  // Estilos para los elementos con tamaño doble
  &.doble {
    grid-column: span 2; // Ocupa el doble de ancho
  }
}

.marco-degradado {
  position: absolute;
  width: 100%;
  height: 70%;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.15) 0%,
    rgba(255, 255, 255, 0.05) 100%
  );
  border: 2px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
  border-radius: 12px;
  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.05);
    background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.25) 0%,
      rgba(255, 255, 255, 0.15) 100%
    );
  }
  .cliente-item.doble & {
    height: 40%; // Ajusta la altura del marco degradado
  }
  .cliente-item.dobleSimple & {
    height: 40%; // Ajusta la altura del marco degradado
  }
}

.cliente-imagen {
  position: absolute;
  width: 70%;
  height: 70%;
  object-fit: contain;
  top: 15%;
  left: 15%;
  filter: grayscale(100%) brightness(120%);
  transition: all 0.3s ease;

  .marco-degradado:hover & {
    filter: grayscale(0%) brightness(100%);
    transform: scale(1.1);
  }
}

//seccion de enviar mensaje





.message-section {
    margin-top: 1px;
  padding: 2rem 0;
    background: $primary-color;
  .container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
  }
  
  .row {
    display: flex;
    gap: 30px;
  }
  
  .col-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  
  h2 {
    color: white;
    margin-bottom: 2rem;
    font-size: 2rem;
  }
  
  .input-row {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
    
    .input-group {
      flex: 1;
      
      &.full-width {
        flex: 0 0 100%;
      }
    }
  }
  
  input, textarea {
    width: 100%;
    padding: 12px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-weight: bold;
    
    &::placeholder {
      color: red;
      opacity: 1;
    }
    
    &:focus {
      outline: none;
      border-color: red;
    }
    
    color: red;
  }
  
  textarea {
    height: 150px;
    resize: vertical;
  }
  
  .form-note {
    color: white;
    font-size: 0.9rem;
    margin-top: 10px;
  }
  
  .checkbox-list {
    list-style: none;
    padding: 0;
    margin: 0;
    
    li {
      margin-bottom: 1rem;
      
      label {
        color: white;
        margin-left: 40px;
      }
    }
  }
}
.selection-title {
  margin-top: 60px;
  margin-bottom: 2rem;
  color: white;
  font-size: 16px;
  margin-left: 10px;

 
    
    span {
      font-weight: bold;
      
      font-size: 16px; // Tamaño ligeramente mayor para la parte en negrita
    }
  
}
.checkbox-list {
    
  li {
    margin-left: 54px;
    margin-bottom: 1.5rem;
  
    
    input[type="checkbox"] {
      display: none;
       padding-left: 95px; 
   
        
      + label {
        position: relative;
        padding-left: 35px;
        color: white;
        cursor: pointer;
        display: block;
        border: 2px solid white;
        padding: 15px;
        border-radius: 18px;
       
       
        &::before {
          content: '';
          position: absolute;
          left: -90px;
          top: 50%;
          transform: translateY(-50%);
          width: 40px;
          height: 40px;
          border: 2px solid white;
          border-radius: 50%;
          background: transparent;
        }
      }
      
      &:checked + label {
        &::before {
            
          background: white;
        }
      }
    }
  }
}


.legal-section {
    margin-left: 10px;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
   .legal-label {
    line-height: 1.4;
    flex: 1;
    min-width: 200px;
  }
  input[type="checkbox"] {
    display: none;
    
    + .legal-label {
      color: white;
      position: relative;
      padding-left: 35px;
      cursor: pointer;
      
      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 2px;
        width: 20px;
        height: 20px;
        border: 2px solid white;
        border-radius: 4px;
      }
    }
    
    &:checked + .legal-label::after {
      content: '✓';
      position: absolute;
      left: 5px;
      top: 0;
      color: white;
      font-size: 16px;
    }
  }
}

.submit-btn {
    width: 50%;
  background: #FFD700;
  color: $primary-color !important;
  border: none;
  padding: 12px 35px;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
  
  &:hover {
    background: darken(#FFD700, 10%);
  }
}
//footer 
.top-footer {
        color: $primary-color;
        background-color: $white-color;
        text-align: center;
        padding: 10px;
        a {
            color: $primary-color;
            text-decoration: none;
            font-size: 16px;
            border-bottom: 1px solid white; 
        }
    }

.footer {
  background-color: $secondary-color;
  padding: 4rem 0 6rem;
  color: white;
     position: relative;

  &-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
     position: relative; 
  }

   &-copyright {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    padding: 1rem 0;
    text-align: center;
    
    p {
      color: #ff0000;
      margin: 0;
      font-size: 0.8rem;
      font-weight: 600;
    }
  }
  
 .redes-text {margin-top: 80px;
    font-size: 17px;
    margin-bottom: 20px;
    color: $primary-color;
    //margin: 20px 0 10px;
    display: block;
    
  }

  .redes-icons {
    display: flex;
    gap: 8px;
    
    img {
      width: 20px;
      height: 20px;
      object-fit: contain;
    }
  }
   &-title, &-list, &-copyright p {
    font-family: $font-primary; // Asegurar fuente
  }



  

  &-title {
    color: $primary-color;
    margin-bottom: 30px;
    font-size: 1.2rem;
    font-weight: 600;
  }

  &-list {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      color: $white-color;
      margin-bottom: 15px;
      cursor: pointer;
      transition: color 0.3s;

      &:hover {
        color: $white-color;
      }
    }
  }
 

  .payment-text {
    color: $white-color;
    margin: 30px 0 15px;
    display: block;
  }

  .payment-icons {
    display: flex;
    gap: 10px;

    img {
      width: 30px;
      height: 30px;
      object-fit: contain;
    }
  }

   // Imagen de esquina
  .corner-image {
    position: absolute;
    bottom: 50px; // Posición fuera del footer
    right: -140px;
    width: 120px;
    height: 40px;
    object-fit: contain;
  }
  .services-text {
    font-size: 17px;
    color: $primary-color;
    margin-top: 30px;
    display: block;
  }

  // Responsive
  @media (max-width: 768px) {
    &-container {
      grid-template-columns: 1fr;
      text-align: center;
      padding-bottom: 40px; 
    }
 .corner-image {
      bottom: 10px;
      right: 1%;
      transform: translateX(10%); // Centrado horizontal en móvil
    }
    &-title {
      margin-bottom: 20px;
    }

    .payment-icons {
      justify-content: center;
    }

    &-column {
      margin-bottom: 40px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}